@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url()">
    <h1>Plant Rater</h1>
    <p class="lead">Ever wonder why it's so hard to keep certain plants alive? This application will take all users input in "Rating" and store that information to be used later for certain rankings such as Novice or Expert .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Creat an account and you will have access to start rating Plants! Ratings are based on your experience and will be compared and added to other users experiences growing and maintaining each plant. This is to help you or others determine if a new plant is within reason to try.
        </p>
    </div>
    <div class="col-md-4">
        <h2>3 Categories</h2>
        <p>There are threee categories that you have access to. First is the plant category where you have full CRUD. Next is Color which should be created first in order to list those colors for your plants, like flowers. Then there is the Tree Category which is similar to the Plants one.</p>
    </div>
    <div class="col-md-4">
        <h2>Hosting</h2>
        <p>This site is hopefully hosted on Microsoft Azure</p>
    </div>
</div>